
$colorBlue1: #064C72
$colorBlue2: #026C80
$colorBlue3: #8DB4AD

$colorOrange1: #E9311A
$colorOrange2: #ED6335
$colorOrange3: #ECAE7D

$colorWhite: #F4F3F1

$colorBlack: #393939

$colorGray: #DBDBDB

